body{
    
    h1{
        text-align: center; 
    
    
        font-family: 'Courier New', Courier, monospace;
    };

    .section-1 {
        background-color: rgba(173, 149, 43, 0.447); /* Цвет фона для первой секции */
        color: rgb(45, 183, 7); /* Цвет текста для первой секции */
    }
    .section-2 {
        font-size: larger;
        text-align: center;
    }
   /* картинка на сайте */
    .image-container {
        text-align: center;
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 100px;
        
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        max-width: 100%;
        height: auto;
        border-radius: 8px;


        
        
        
       
        
        

        
            
    }

};




